button {
  background-color: blueviolet;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  /* transition-property: background-color;
  transition-duration: 10s;
  transition-timing-function: ease;
  transition-delay: 2s; */
  transition: background-color 10s ease;
  -webkit-transition: background-color 10s ease;
  /* Safari e Chrome */
  -moz-transition: background-color 10s ease;
  /* Firefox*/
  -o-transition: background-color 10s ease;
  /* Opera */
}

/* .myInput::placeholder {
  color: blue
}

.myInput::before {
  content: '';

} */